alembic
bcrypt==4.0.1
dotenv
email-validator
faiss-cpu
fastapi
google-generativeai
kaggle
uvicorn
pandas
passlib
pinecone
pymongo
psycopg2-binary
pytest
python-jose[cryptography]
python-multipart
requests
sentence-transformers
sqlalchemy
streamlit
streamlit_cookies_manager
uvicorn